.fut-page-container {
  justify-content: center;
}

.fut-logo {
  height: 100px;
}

.list {
  text-align: center;
  width: 100%;

  ul {
    width: 100%;
  }

  li {
    padding: 3px;
    width: 100%;
  }
}

.single-player-0 {
  background-color: $color-secondary-2-4;
  color: $color-secondary-1-1;
}

.single-player-1 {
  background-color: $color-secondary-2-1;
  color: $color-secondary-1-4;
}

input {
  height: 20px;
  margin: 10px;
  font-size: 16px;
}

button {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 100%;
}

p {
  font-family: "Rubik";
}

.card-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 410px;
  width: 270px;
  position: relative;
}

.flag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 45px;
  left: 42px;
  height: 168px;

  p {
    margin: 0;
  }
}

.flag {
  width: 45px;
}

.club-logo {
  width: 45px;
}

.photo {
  position: absolute;
  height: 150px;
  top: 69px;
  right: 22px;
}

.overall {
  font-size: 45px;
}

.position {
  font-weight: bold;
  font-size: 25px;
}

.name {
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
  text-align: center;
}

.stats-container {
  position: absolute;
  display: flex;
  top: 250px;
  left: 30px;
  right: 0;

  p {
    font-size: 16px;
  }
}

.stats-sub-container {
  flex: 1;
  margin-left: 15px;
}

.fut-input-container {
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  background-color: $color-secondary-2-4;
  color: $color-secondary-2-1;
}

.fut-card-container {
  border-radius: 25px;
  margin: 10px;
  background-color: $color-secondary-1-4;
}
