body {
  margin: 0;
  background-color: $light1;
}

a {
  text-decoration: none;
}

.page-container {
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 0px calc(50vw - 400px);
}

.home-text {
  font-size: 32px;
  padding: 20px;
  font-family: "Salsa";
  text-align: center;
}
