@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Salsa");
body {
  margin: 0;
  background-color: #646d90; }

a {
  text-decoration: none; }

.page-container {
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    .page-container {
      flex-direction: column; } }

.container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 0px calc(50vw - 400px); }

.home-text {
  font-size: 32px;
  padding: 20px;
  font-family: "Salsa";
  text-align: center; }

.fut-logo {
  height: 100px; }

.list {
  text-align: center; }

input {
  height: 20px;
  margin: 10px;
  font-size: 16px; }

button {
  margin: 10px; }

ul {
  list-style-type: none;
  padding: 0; }

li {
  width: 100%; }

p {
  font-family: "Roboto"; }

.card-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 410px;
  width: 270px;
  position: relative; }

.flag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 45px;
  left: 42px;
  height: 168px; }
  .flag-container p {
    margin: 0; }

.flag {
  width: 45px; }

.club-logo {
  width: 45px; }

.photo {
  position: absolute;
  height: 150px;
  top: 69px;
  right: 22px; }

.overall {
  font-size: 45px; }

.position {
  font-weight: bold;
  font-size: 25px; }

.name {
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
  text-align: center; }

.stats-container {
  position: absolute;
  display: flex;
  top: 250px;
  left: 30px;
  right: 0; }
  .stats-container p {
    font-size: 16px; }

.stats-sub-container {
  flex: 1;
  margin-left: 15px; }

.header-container {
  height: 200px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center; }
  @media (max-width: 767px) {
    .header-container {
      height: 180px; } }

.header-rect {
  position: absolute;
  top: 0;
  height: 120px;
  background-color: #485174;
  width: 100%; }
  @media (max-width: 767px) {
    .header-rect {
      height: 180px; } }

.header-drop {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.header-circle {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: #485174;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-transform: scaleX(3.5);
  -webkit-transform: scaleX(3.5); }
  @media (max-width: 767px) {
    .header-circle {
      display: none; } }

.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25px;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #101a3e;
  z-index: 2; }
  .logo p {
    margin: 0;
    padding-right: 8px;
    color: #fff;
    text-align: center;
    font-family: "Salsa";
    font-size: 72px;
    letter-spacing: -0.15em; }

.header-menu-container {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #485174;
  align-items: center; }
  .header-menu-container p {
    color: #101a3e;
    margin: 15px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px; }
  @media (max-width: 767px) {
    .header-menu-container {
      position: relative;
      top: 0px;
      flex-direction: column;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); } }

.header-menu {
  text-align: center;
  width: 200px; }
  @media (max-width: 767px) {
    .header-menu {
      width: 100%; } }

.header-menu-spacing {
  letter-spacing: 0.05em; }

@media (max-width: 767px) {
  .header-menu-empty {
    display: none; } }
