@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Salsa");
body {
  margin: 0;
  background-color: #887caf; }

a {
  text-decoration: none; }

p {
  font-family: "Rubik"; }

h3 {
  font-family: "Rubik"; }

.page-container {
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    .page-container {
      flex-direction: column; } }

.container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px; }

.main-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 0px calc(50vw - 400px); }

.main-header {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  font-family: "Rubik";
  color: #13073a;
  text-align: center;
  padding: 10px 20px; }

.main-info-container {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .main-info-container {
      flex-direction: column; } }

.home-text-link {
  flex: 1;
  margin: 20px; }

.container-cyan {
  background-color: #8080b3;
  border: 5px solid #09093b;
  color: #09093b; }

.container-purple {
  background-color: #8f78ad;
  border: 5px solid #1c053a;
  color: #1c053a; }

.home-text-main-container {
  position: relative;
  padding: 0 20px;
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.home-text {
  font-size: 32px;
  text-align: center;
  margin: 20px 0px 0px 0px; }

.home-text-main-container:hover .home-text-hover-container {
  opacity: 1; }
  .home-text-main-container:hover .home-text-hover-container .home-text {
    opacity: 1;
    font-weight: bold; }

.home-text-main-container:hover .home-text {
  opacity: 0; }

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.home-text-hover-container {
  position: absolute;
  border-radius: 25px;
  width: 100%;
  height: calc(100% - 70px);
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; }

.home-text-arrow-container {
  height: 70px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.home-text-arrow {
  height: 50px;
  padding: 10px 15px 0 15px; }

.about-header {
  font-size: 40px;
  font-weight: bold;
  color: #13073a;
  text-align: center;
  padding: 0px 20px; }

.about-paragraph {
  font-size: 20px;
  padding: 0px 20px;
  margin: 10px 0px;
  overflow: hidden; }

.about-bullet {
  margin: 5px 0px; }

.about-bullet-header {
  margin: 0px 0px 10px 0px; }

.about-bullet-container {
  position: relative;
  padding: 20px;
  height: 100%;
  width: calc(100% - 50px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media (max-width: 767px) {
    .about-bullet-container {
      margin: 0px 20px;
      width: calc(100% - 90px); } }

.about-splitter {
  height: 40px;
  width: 160px; }

.about-bullet-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px; }
  @media (max-width: 767px) {
    .about-bullet-info-container {
      flex-direction: column; } }

.fut-page-container {
  justify-content: center; }

.fut-logo {
  height: 100px; }

.list {
  text-align: center;
  width: 100%; }
  .list ul {
    width: 100%; }
  .list li {
    padding: 3px;
    width: 100%; }

.single-player-0 {
  background-color: #09093b;
  color: #8f78ad; }

.single-player-1 {
  background-color: #8080b3;
  color: #1c053a; }

input {
  height: 20px;
  margin: 10px;
  font-size: 16px; }

button {
  margin: 10px; }

ul {
  list-style-type: none;
  padding: 0; }

li {
  width: 100%; }

p {
  font-family: "Rubik"; }

.card-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 410px;
  width: 270px;
  position: relative; }

.flag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 45px;
  left: 42px;
  height: 168px; }
  .flag-container p {
    margin: 0; }

.flag {
  width: 45px; }

.club-logo {
  width: 45px; }

.photo {
  position: absolute;
  height: 150px;
  top: 69px;
  right: 22px; }

.overall {
  font-size: 45px; }

.position {
  font-weight: bold;
  font-size: 25px; }

.name {
  font-weight: bold;
  font-size: 25px;
  white-space: nowrap;
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
  text-align: center; }

.stats-container {
  position: absolute;
  display: flex;
  top: 250px;
  left: 30px;
  right: 0; }
  .stats-container p {
    font-size: 16px; }

.stats-sub-container {
  flex: 1;
  margin-left: 15px; }

.fut-input-container {
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  background-color: #09093b;
  color: #8080b3; }

.fut-card-container {
  border-radius: 25px;
  margin: 10px;
  background-color: #1c053a; }

.header-container {
  height: 200px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center; }
  @media (max-width: 767px) {
    .header-container {
      height: 180px; } }

.header-rect {
  position: absolute;
  top: 0;
  height: 120px;
  background-color: #615192;
  width: 100%; }
  @media (max-width: 767px) {
    .header-rect {
      height: 180px; } }

.header-drop {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.header-circle {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: #615192;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-transform: scaleX(3.5);
  -webkit-transform: scaleX(3.5); }
  @media (max-width: 767px) {
    .header-circle {
      display: none; } }

.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25px;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #13073a;
  z-index: 2; }
  .logo p {
    margin: 0;
    padding-right: 8px;
    color: #fff;
    text-align: center;
    font-family: "Salsa";
    font-size: 72px;
    letter-spacing: -0.15em; }

.header-menu-container {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #615192;
  align-items: center; }
  .header-menu-container p {
    color: #13073a;
    margin: 15px;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 30px; }
  @media (max-width: 767px) {
    .header-menu-container {
      position: relative;
      top: 0px;
      flex-direction: column;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); } }

.header-menu {
  text-align: center;
  width: 200px; }
  @media (max-width: 767px) {
    .header-menu {
      width: 100%; } }

.header-menu-spacing {
  letter-spacing: 0.05em; }

@media (max-width: 767px) {
  .header-menu-empty {
    display: none; } }

.project-info-container {
  flex-wrap: wrap;
  margin: 0px; }

.project-bullet-container {
  width: calc(50% - 70px);
  margin: 10px;
  height: 100px; }
  @media (max-width: 767px) {
    .project-bullet-container {
      width: calc(100% - 70px); } }
